keynumberone:
    command-chunks:
        some-ls:
            - 'ls /'
            - 'ls -lha ~/'
        some-finds:
            - 'find ~/ -name "a_file"'
            - 'find / -name "another_file"'

keynumbertwo:
    command-chunks:
        some-sleepers:
            - 'sleep 3'
            - 'sleep 2'
            - 'sleep 6'
