finder-examples:
    highlight-keywords:
      - 'png'
    command-groups:
        find-phars:
            - 'find -E ~/ -regex ".*\.(phar)"'
            - 'find -E /usr -regex ".*\.(phar)"'
        find-images:
            - 'find -E ~/Desktop -regex ".*\.(jpg|gif|png|jpeg)"'
            - 'find -E ~/Downloads -regex ".*\.(jpg|gif|png|jpeg)"'
            - 'find -E ~/Documents -regex ".*\.(jpg|gif|png|jpeg)"'
